################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TwitterMediaBlocker
/bin/Debug/netcoreapp3.1
/bin/Release/netcoreapp3.1/win-x64/publish/TwitterMediaBlocker.pdb
/obj/Release/netcoreapp3.1/win-x64/linked/TwitterMediaBlocker.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.WebLogic.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Streams.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Security.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Logic.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Factories.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Credentials.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Core.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Tweetinvi.Controllers.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Text.RegularExpressions.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Principal.Windows.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Principal.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.X509Certificates.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.Encoding.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.Csp.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.Cng.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Cryptography.Algorithms.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Security.Claims.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.Serialization.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.Serialization.Formatters.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.Numerics.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.Extensions.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Runtime.CompilerServices.Unsafe.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Reflection.Metadata.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Private.Xml.Linq.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Private.Xml.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Private.Uri.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Private.CoreLib.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.ObjectModel.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.WebHeaderCollection.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.Sockets.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.ServicePoint.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.Security.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.Requests.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.NetworkInformation.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.NameResolution.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Net.Http.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Linq.Expressions.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Linq.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.IO.FileSystem.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.IO.Compression.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.IO.Compression.Brotli.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Drawing.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Diagnostics.TraceSource.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Diagnostics.Tools.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Diagnostics.StackTrace.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Diagnostics.DiagnosticSource.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Data.Common.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Console.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.ComponentModel.TypeConverter.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.ComponentModel.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.ComponentModel.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Collections.Specialized.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Collections.NonGeneric.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Collections.Immutable.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Collections.dll
/obj/Release/netcoreapp3.1/win-x64/linked/System.Collections.Concurrent.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Nito.Disposables.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Nito.AsyncEx.Tasks.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Nito.AsyncEx.Context.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Newtonsoft.Json.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Microsoft.Win32.Primitives.dll
/obj/Release/netcoreapp3.1/win-x64/linked/CommandLine.dll
/obj/Release/netcoreapp3.1/win-x64/linked/Autofac.dll
/obj/Release/netcoreapp3.1/win-x64/linked
/obj/Release/netcoreapp3.1/win-x64
/obj/Debug/netcoreapp3.1/win-x64/TwitterMediaBlocker.assets.cache
/obj/Debug/netcoreapp3.1/win-x64/TwitterMediaBlocker.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/win-x64/TwitterMediaBlocker.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/win-x64
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.pdb
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.exe
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.dll
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.csproj.CopyComplete
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.assets.cache
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/TwitterMediaBlocker.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1
/obj
/bin/Release/netcoreapp3.1/win-x64/WindowsBase.dll
/bin/Release/netcoreapp3.1/win-x64/ucrtbase.dll
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.runtimeconfig.json
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.runtimeconfig.dev.json
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.pdb
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.exe
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.dll
/bin/Release/netcoreapp3.1/win-x64/TwitterMediaBlocker.deps.json
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.WebLogic.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Streams.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Security.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Logic.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Factories.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Credentials.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Core.dll
/bin/Release/netcoreapp3.1/win-x64/Tweetinvi.Controllers.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.XPath.XDocument.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.XPath.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.XmlSerializer.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.XmlDocument.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.XDocument.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.Serialization.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.ReaderWriter.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.Linq.dll
/bin/Release/netcoreapp3.1/win-x64/System.Xml.dll
/bin/Release/netcoreapp3.1/win-x64/System.Windows.dll
/bin/Release/netcoreapp3.1/win-x64/System.Web.HttpUtility.dll
/bin/Release/netcoreapp3.1/win-x64/System.Web.dll
/bin/Release/netcoreapp3.1/win-x64/System.ValueTuple.dll
/bin/Release/netcoreapp3.1/win-x64/System.Transactions.Local.dll
/bin/Release/netcoreapp3.1/win-x64/System.Transactions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Timer.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.ThreadPool.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Thread.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Tasks.Parallel.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Tasks.Extensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Tasks.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Tasks.Dataflow.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Overlapped.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.dll
/bin/Release/netcoreapp3.1/win-x64/System.Threading.Channels.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.RegularExpressions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.Json.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.Encodings.Web.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.Encoding.Extensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.Encoding.dll
/bin/Release/netcoreapp3.1/win-x64/System.Text.Encoding.CodePages.dll
/bin/Release/netcoreapp3.1/win-x64/System.ServiceProcess.dll
/bin/Release/netcoreapp3.1/win-x64/System.ServiceModel.Web.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.SecureString.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Principal.Windows.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Principal.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.X509Certificates.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.OpenSsl.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.Encoding.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.Csp.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.Cng.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Cryptography.Algorithms.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.Claims.dll
/bin/Release/netcoreapp3.1/win-x64/System.Security.AccessControl.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.WindowsRuntime.UI.Xaml.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.WindowsRuntime.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Serialization.Xml.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Serialization.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Serialization.Json.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Serialization.Formatters.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Serialization.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Numerics.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Loader.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Intrinsics.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.InteropServices.WindowsRuntime.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.InteropServices.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Handles.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.Extensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.CompilerServices.VisualC.dll
/bin/Release/netcoreapp3.1/win-x64/System.Runtime.CompilerServices.Unsafe.dll
/bin/Release/netcoreapp3.1/win-x64/System.Resources.Writer.dll
/bin/Release/netcoreapp3.1/win-x64/System.Resources.ResourceManager.dll
/bin/Release/netcoreapp3.1/win-x64/System.Resources.Reader.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.TypeExtensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Metadata.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Extensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Emit.Lightweight.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Emit.ILGeneration.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.Emit.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.dll
/bin/Release/netcoreapp3.1/win-x64/System.Reflection.DispatchProxy.dll
/bin/Release/netcoreapp3.1/win-x64/System.Private.Xml.Linq.dll
/bin/Release/netcoreapp3.1/win-x64/System.Private.Xml.dll
/bin/Release/netcoreapp3.1/win-x64/System.Private.Uri.dll
/bin/Release/netcoreapp3.1/win-x64/System.Private.DataContractSerialization.dll
/bin/Release/netcoreapp3.1/win-x64/System.Private.CoreLib.dll
/bin/Release/netcoreapp3.1/win-x64/System.ObjectModel.dll
/bin/Release/netcoreapp3.1/win-x64/System.Numerics.Vectors.dll
/bin/Release/netcoreapp3.1/win-x64/System.Numerics.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.WebSockets.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.WebSockets.Client.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.WebProxy.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.WebHeaderCollection.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.WebClient.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Sockets.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.ServicePoint.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Security.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Requests.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Ping.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.NetworkInformation.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.NameResolution.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Mail.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.HttpListener.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.Http.dll
/bin/Release/netcoreapp3.1/win-x64/System.Net.dll
/bin/Release/netcoreapp3.1/win-x64/System.Memory.dll
/bin/Release/netcoreapp3.1/win-x64/System.Linq.Queryable.dll
/bin/Release/netcoreapp3.1/win-x64/System.Linq.Parallel.dll
/bin/Release/netcoreapp3.1/win-x64/System.Linq.Expressions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Linq.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.UnmanagedMemoryStream.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Pipes.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Pipes.AccessControl.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.MemoryMappedFiles.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.IsolatedStorage.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.FileSystem.Watcher.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.FileSystem.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.FileSystem.DriveInfo.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.FileSystem.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.FileSystem.AccessControl.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Compression.ZipFile.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Compression.FileSystem.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Compression.dll
/bin/Release/netcoreapp3.1/win-x64/System.IO.Compression.Brotli.dll
/bin/Release/netcoreapp3.1/win-x64/System.Globalization.Extensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Globalization.dll
/bin/Release/netcoreapp3.1/win-x64/System.Globalization.Calendars.dll
/bin/Release/netcoreapp3.1/win-x64/System.Dynamic.Runtime.dll
/bin/Release/netcoreapp3.1/win-x64/System.Drawing.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.Drawing.dll
/bin/Release/netcoreapp3.1/win-x64/System.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.Tracing.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.TraceSource.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.Tools.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.TextWriterTraceListener.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.StackTrace.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.Process.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.FileVersionInfo.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.DiagnosticSource.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.Debug.dll
/bin/Release/netcoreapp3.1/win-x64/System.Diagnostics.Contracts.dll
/bin/Release/netcoreapp3.1/win-x64/System.Data.dll
/bin/Release/netcoreapp3.1/win-x64/System.Data.DataSetExtensions.dll
/bin/Release/netcoreapp3.1/win-x64/System.Data.Common.dll
/bin/Release/netcoreapp3.1/win-x64/System.Core.dll
/bin/Release/netcoreapp3.1/win-x64/System.Console.dll
/bin/Release/netcoreapp3.1/win-x64/System.Configuration.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.TypeConverter.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.EventBasedAsync.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.DataAnnotations.dll
/bin/Release/netcoreapp3.1/win-x64/System.ComponentModel.Annotations.dll
/bin/Release/netcoreapp3.1/win-x64/System.Collections.Specialized.dll
/bin/Release/netcoreapp3.1/win-x64/System.Collections.NonGeneric.dll
/bin/Release/netcoreapp3.1/win-x64/System.Collections.Immutable.dll
/bin/Release/netcoreapp3.1/win-x64/System.Collections.dll
/bin/Release/netcoreapp3.1/win-x64/System.Collections.Concurrent.dll
/bin/Release/netcoreapp3.1/win-x64/System.Buffers.dll
/bin/Release/netcoreapp3.1/win-x64/System.AppContext.dll
/bin/Release/netcoreapp3.1/win-x64/SOS_README.md
/bin/Release/netcoreapp3.1/win-x64/Nito.Disposables.dll
/bin/Release/netcoreapp3.1/win-x64/Nito.AsyncEx.Tasks.dll
/bin/Release/netcoreapp3.1/win-x64/Nito.AsyncEx.Context.dll
/bin/Release/netcoreapp3.1/win-x64/Newtonsoft.Json.dll
/bin/Release/netcoreapp3.1/win-x64/netstandard.dll
/bin/Release/netcoreapp3.1/win-x64/mscorrc.dll
/bin/Release/netcoreapp3.1/win-x64/mscorrc.debug.dll
/bin/Release/netcoreapp3.1/win-x64/mscorlib.dll
/bin/Release/netcoreapp3.1/win-x64/mscordbi.dll
/bin/Release/netcoreapp3.1/win-x64/mscordaccore_amd64_amd64_4.700.19.60701.dll
/bin/Release/netcoreapp3.1/win-x64/mscordaccore.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.Win32.Registry.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.Win32.Primitives.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.VisualBasic.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.VisualBasic.Core.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
/bin/Release/netcoreapp3.1/win-x64/Microsoft.CSharp.dll
/bin/Release/netcoreapp3.1/win-x64/hostpolicy.dll
/bin/Release/netcoreapp3.1/win-x64/hostfxr.dll
/bin/Release/netcoreapp3.1/win-x64/dbgshim.dll
/bin/Release/netcoreapp3.1/win-x64/coreclr.dll
/bin/Release/netcoreapp3.1/win-x64/CommandLine.dll
/bin/Release/netcoreapp3.1/win-x64/clrjit.dll
/bin/Release/netcoreapp3.1/win-x64/clretwrc.dll
/bin/Release/netcoreapp3.1/win-x64/clrcompression.dll
/bin/Release/netcoreapp3.1/win-x64/Autofac.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-utility-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-time-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-string-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-stdio-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-runtime-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-process-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-private-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-multibyte-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-math-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-locale-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-heap-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-filesystem-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-environment-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-convert-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-crt-conio-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-util-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-timezone-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-sysinfo-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-synch-l1-2-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-synch-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-string-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-profile-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-processthreads-l1-1-1.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-processthreads-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-processenvironment-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-namedpipe-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-memory-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-localization-l1-2-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-libraryloader-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-interlocked-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-heap-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-handle-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-file-l2-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-file-l1-2-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-file-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-errorhandling-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-debug-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-datetime-l1-1-0.dll
/bin/Release/netcoreapp3.1/win-x64/api-ms-win-core-console-l1-1-0.dll
/Properties
